#----------------------------------------------------------------------#
# Visual Studio / C++ Git Ignore Standard
#----------------------------------------------------------------------#

# Thư mục tạm thời và cấu hình người dùng của Visual Studio
.vs/
*.opensdf
*.sdf
*.suo
*.user
*.useros
*.tlog
*.ipch

# Thư mục và Tệp Nhị phân/Thực thi (Binaries/Executables)
# Loại trừ các file chạy và object files
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.aps
*.bsc
*.ncb
*.idb

# Thư mục Build
# Loại trừ các thư mục được tạo khi biên dịch
[Dd]ebug/
[Rr]elease/
[Aa]rm/
[Aa]rm64/
[Xx]64/
[Xx]86/

# Loại trừ các tệp liên quan đến dự án (Project files)
*.vcxproj.user
*.VC.db
ipch/

# Logs và Output
log/